.Navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: -1rem;
  margin-right: 1rem;
  padding: 0.25rem 0.75rem;
  font-family: Roboto, serif;
  font-size: 1.25rem;
  background-color: #eceff1;
}

@media (max-width: 599.98px) {
  .logo {
    display: none;
  }
}

.logo a {
  color: #000;
  text-decoration: none;
}

.slider {
  display: inline-block;
  width: 150px;
  margin: 0 10px;
}

@media (min-width: 600px) {
  .slider {
    width: 200px;
  }
}
@media (min-width: 900px) {
  .slider {
    width: 340px;
  }
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:active {
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  border: 2px solid green;
  background-color: green;
  outline: none;
  box-shadow: none;
}

.select-container {
  margin-left: auto;
}
