.Palette {
  height: 100vh;
}

.Palette-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 25%;
  height: 90vh;
}

.slider {
  display: inline-block;
  width: 340px;
  margin: 0 10px;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:active {
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
  border: 2px solid green;
  background-color: green;
  outline: none;
  box-shadow: none;
}
